@font-face {
    font-family: "Noto Sans KR";
    font-weight: 100;
    font-style: normal;
    src: url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Light.eot?") format("eot"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Light.otf") format("opentype"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Light.woff") format("woff"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Light.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-style: normal;
    src: url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Regular.eot?") format("eot"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Regular.otf") format("opentype"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Regular.woff") format("woff"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 500;
    font-style: normal;
    src: url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Medium.eot?") format("eot"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Medium.otf") format("opentype"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Medium.woff") format("woff"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Medium.woff2") format("woff2");
  }
  
  
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 700;
    font-style: normal;
    src: url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Bold.eot?") format("eot"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Bold.otf") format("opentype"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Bold.woff") format("woff"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSans-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Serif KR";
    font-weight: 400;
    font-style: normal;
    src: url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSerifCJKkr-Regular-subset.eot?") format("eot"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSerifCJKkr-Regular-subset.otf") format("opentype"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSerifCJKkr-Regular-subset.woff") format("woff"),
    url("https://dgh3i7c9du7yu.cloudfront.net/font/NotoSerifCJKkr-Regular-subset.woff2") format("woff2");
  }